
<div class="banner create-podcast-banner">
  <% provide(:title, 'Edit your own episode') %>
<h1>Edit your own episode</h1>
</div>
  <div id="input-container", class="cf wrapper">
    <div class="wrapper_skinny">
      <%= render 'form_edit' %>
    </div>
  </div>
</div>

