<% provide(:name, @episode.name) %>

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @episode.name %></h1>
		</div>
			<p class="description"><%= @episode.description %></p>
		</div>
		</div>
		</div>
	</div>

</div>
