@import 'normalize';

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */


.container-fixed {
	width: 84.2rem;
	margin-bottom: 6rem;
}

a, a:hover {
	text-decoration: none;
}

body {
	font-family: $primary-font;
	color: white;
}

input {
	font-family: $primary-font;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.wrapper-wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper-skinny {
	width: 60%;
	margin: 0 auto;
}

#notice_wrapper {
	width: 100%;
	position: absolute;
	margin-top: 3.5rem;
	background: rgba(208,103,82, 0.85);
	z-index: 1;
	p {
		color: white;
		text-align: center;
		font-weight: 700;
		font-size: 1rem;
		padding: 0.5rem 0;
	}
}

.bg-dark {
	background-color: $dark;
	&:hover {
		background-color: lighten($dark, 3%);
	}
}

.spacer {
	height: 3.5rem;
}

.text-align-right {
	text-align: right;
	padding-right: 2rem;
}

.button {
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	outline: none;
	border: none;
	transition: background .2s ease-in-out;
	display: inline-block;
	min-width: 8.5rem;
	color: white;
	cursor: pointer;
}


.button-alert {
	background: red;
	&:hover {
		color: white;
		background: darken(red, 7.5%);
	}
}

.button-highlight {
	background: $highlight;
	&:hover {
		color: white;
		background: darken($highlight, 7.5%);
	}
}

.button-white {
	background: darken(white, 7.5%);
	color: $dark;
	&:hover {
		color: $dark;
		background: darken(white, 10.5%);
	}
}
.welcome-page-text {
    color: white;
}

.banner {
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	margin-bottom: 3.5rem;
  	h1 {
  		text-align: center;
  		font-size: 4rem;
  		font-weight: 700;
  		letter-spacing: -1px;
  		color: white;
  		margin: 0;
  		padding: 4.5rem 0;
  	}
}

.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 1rem 0 5rem 0;
	bottom: 0;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 .25rem;
		border-radius: .15rem;
		line-height: 1.25;
		text-decoration: none;
		background: #EDEFF5;
		font-weight: 700;
		font-size: .7rem;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: white;
		}
	}
	.current {
		background: $highlight;
		color: white;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: #EDEFF5;
		}
	}
}

.border-animation {
	color: $dark;
	border-radius: 0.5rem;
	padding: 0.7rem;
	margin-right: 0;
	background-color: white;
	border: none;
	box-shadow: inset 0 0 0 1px $highlight;
	outline: none;
	transition: box-shadow 0.4s linear;
	@include placeholder {
		color: white;
	}
	&:focus, &:hover {
		outline: none;
		box-shadow: inset 0 0 0 2px $highlight;
	}
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius:0.5rem;
    background: $highlight;
    -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: lighten($highlight, 30%);
    margin-top: 10px;
}

::-webkit-scrollbar:horizontal{
    height: 10px;
}

::-webkit-scrollbar-track:horizontal {
    box-shadow:none;
}

/* radio buttons */
.label-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: lighten($dark, 60%) ;
		border-radius: 50%;
		/* Create the indicator (the dot/circle - hidden when not checked) */
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 3px;
			left: 3px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: white;
		}
	}
	/* On mouse-over, add a background color */
	&:hover input ~ .checkmark {
		background-color: white;
		box-shadow: inset 0 0 0 2px $highlight;
	}
	/* When the radio button is checked, add a background */
	input:checked ~ .checkmark {
		background-color: $highlight;
	}
	/* Show the indicator (dot/circle) when checked */
	input:checked ~ .checkmark:after {
		display: block;
	}			
}

@import 'partials/*';
@import 'welcome/index';
@import 'devise/common';
@import 'devise/registrations/*';
@import 'devise/sessions/new';
@import 'podcast/*';
@import 'episodes';
@import 'faq_page';
@import 'podcast_';
